<div class="center jumbotron">
 <span class= 'textnew' >Welcome to our BookStore </span>
<h2>
Choose your favourite book 
</h2>
<h2>  'Let us tenderly and kindly cherish, therefore, the means of knowledge. Let us dare to read, think, speak, and write.' - John Adams</h2>
<%= link_to "Sign up for convenient use!", signup_path , class: "btn btn-lg btn-primary" %>
<div class="image margin-top30px"
</div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
  
    <div class="carousel-item active">
      <img src="https://newshop.vn/public/uploads/options/sachkinhdoanh.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://hbr.edu.vn/public/files/upload/06_2019/images/banner-combo-5c-cho-doanh-nghiep-0911.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://bizweb.dktcdn.net/100/337/637/collections/artboard-1-copy-2.png?v=1574521847603" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>

