
<div class="center jumbotron">
 <span class= 'textnew' >Welcome to our BookStore </span>
<h2>
Choose your favourite book 
</h2>
<h2>  'Let us tenderly and kindly cherish, therefore, the means of knowledge. Let us dare to read, think, speak, and write.' - John Adams</h2>
<%= link_to "Sign up for convenient use!", signup_path , class: "btn btn-lg btn-primary" %>

<div id="carouselExampleControls" class="carousel slide margintop" data-bs-ride="carousel">
  <div class="carousel-inner">
  
    <div class="carousel-item active">
      <img src="https://newshop.vn/public/uploads/options/sachkinhdoanh.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://hbr.edu.vn/public/files/upload/06_2019/images/banner-combo-5c-cho-doanh-nghiep-0911.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://bizweb.dktcdn.net/100/337/637/collections/artboard-1-copy-2.png?v=1574521847603" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>
  </div>
  
  <div class='bestsell center'>
 <div class ='margintop'> <span class= 'textnewww ' > Bestseller Books</span> </div>
<div class= 'marketing'>
<div class="card" style="width: 18rem;">
  <img src="https://salt.tikicdn.com/cache/w1200/ts/product/31/8f/94/a206c642f2e887be931f9bd968e1550e.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Không ai qua sông</h5>
<p class="card-text">Giá xxx.xxxđ</p>
      <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://salt.tikicdn.com/cache/w1200/media/catalog/product/b/i/bia-tuyen-tap-kim-lan-1-.u5102.d20170516.t094457.238265.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Tuyển tập Kim Lân</h5>
    <p class="card-text">Giá xxx.xxxđ</p>
      <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://salt.tikicdn.com/cache/w1200/ts/product/af/cd/bc/6c4f3e86282463ace049d07057ed3529.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Thí Nghiệm đầu hàng</h5>
   <p class="card-text">Giá xxx.xxxđ</p>
      <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://salt.tikicdn.com/cache/w1200/ts/product/22/de/b5/5577cf56f8fb486d444d21e7c7226852.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Sống thực tại với be here</h5>
   <p class="card-text">Giá xxx.xxxđ</p>
      <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://salt.tikicdn.com/cache/w1200/ts/product/5b/b7/88/9d68cc0b2b1cf1374bd0843ffa9112c0.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Đọc vị bất kỳ ai khi giao tiếp</h5>
    <p class="card-text">Giá xxx.xxxđ</p>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div>
</div >
</div>
<div class ='margintop' >
<div class="accordion" id="accordionExample">
  <div class="accordion-item pic1">
    <h2 class="accordion-header " id="headingOne">
      <button class="accordion-button collapsed pic1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        What you can do in our web site?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        By creating an account, you can buy any books you like. Moreover, if you want to be a BookStore Owner, you also can create and upload your book on our Website!
      </div>
    </div>
  </div>

  <div class="accordion-item pic2">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed pic2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Which type of book do our BookStore have?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       We have lots of genres of book as: Fantasy.Sci-Fi, Mystery, Thriller, Romance, Westerns, Dystopian, Contemporary,.. What you need, we have!
      </div>
    </div>
  </div>
  <div class="accordion-item pic3">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed pic3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        How can you call for help?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        By click Help at the end of our web site you can get more information and contact to us easily.
      </div>
    </div>
  </div>
</div>
</div>
<div class = 'center'>
 <div class ='margintop'> <span class= 'textneww ' >Others </span> </div>
<div class="card bk size" style="width: 18rem;">
  <img src="https://nhasachphuongnam.com/images/promo/225/135-icon_01.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Jigsaw Puzzles</p>
  </div>
</div>
<div class="card bk size" style="width: 18rem;">
  <img src="https://nhasachphuongnam.com/images/promo/227/135-icon_02_2.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Souvenir</p>
  </div>
</div>
<div class="card bk size" style="width: 18rem;">
  <img src="https://nhasachphuongnam.com/images/promo/225/135-icon_03.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Old Book Market</p>
  </div>
</div>
<div class="card bk size" style="width: 18rem;">
  <img src="https://nhasachphuongnam.com/images/promo/225/135-icon_05.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Gift</p>
  </div>
</div>
<div class="card bk size" style="width: 18rem;">
  <img src="https://nhasachphuongnam.com/images/promo/225/135-icon_06.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Lego Toy</p>
  </div>
</div>
</div>

