 <div class = 'bookpage'> 
  <h1>Book Genres </h1>

<button type="button" class="btn btn-primary">Tất cả</button>
<button type="button" class="btn btn-primary">Tiểu Thuyết</button>
<button type="button" class="btn btn-primary">Trinh Thám</button>
<button type="button" class="btn btn-primary">Tâm lí và giáo dục</button>
<button type="button" class="btn btn-primary">Truyện tranh</button>
<button type="button" class="btn btn-primary">Sách khoa học</button>
<button type="button" class="btn btn-primary">Sách giáo khoa</button>
<button type="button" class="btn btn-primary">Khác</button>


</div>
<div><div class="card" style="width: 18rem;">
  <img src="https://kinhtechungkhoan.vn/stores/news_dataimages/sinhnguyen/122018/12/16/1711_SONG1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Nếu chỉ còn một ngày để sống </h5>
    <p class="card-text">Giá: xxx.xxx đ</p>
    <a href="#" class="btn btn-primary">Buy</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://kinhtechungkhoan.vn/stores/news_dataimages/sinhnguyen/122018/12/16/1711_SONG1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Nếu chỉ còn một ngày để sống </h5>
    <p class="card-text">Giá: xxx.xxx đ</p>
    <a href="#" class="btn btn-primary">Buy</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://kinhtechungkhoan.vn/stores/news_dataimages/sinhnguyen/122018/12/16/1711_SONG1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Nếu chỉ còn một ngày để sống </h5>
    <p class="card-text">Giá: xxx.xxx đ</p>
    <a href="#" class="btn btn-primary">Buy</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://kinhtechungkhoan.vn/stores/news_dataimages/sinhnguyen/122018/12/16/1711_SONG1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Nếu chỉ còn một ngày để sống </h5>
    <p class="card-text">Giá: xxx.xxx đ</p>
    <a href="#" class="btn btn-primary">Buy</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://kinhtechungkhoan.vn/stores/news_dataimages/sinhnguyen/122018/12/16/1711_SONG1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Nếu chỉ còn một ngày để sống </h5>
    <p class="card-text">Giá: xxx.xxx đ</p>
    <a href="#" class="btn btn-primary">Buy</a>
  </div>
</div> </div>
 
 
